/* essa folha de estilo denomina-se main.css */
@charset utf-8
@import url("fontes.css")
body {
margin: 0;
background: #fff;
color: #333;
...
}
/* mais regras CSS */


.tabela{
  border: 1px solid black;
  font: 12px verdana;
}
.cabecalho{
  background: beige;
  color: brown;
}
.titulo{
  padding: 2px;
  text-align: left;
}
.coluna_valor{
  padding: 2px;
  text-align: right;
}
.coluna_geral{
  padding: 2px;
  text-align: left;
}
.zebra tr:nth-child)odd){
  background: lightbrown;
}
